body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  margin-left: 3px;
  width: 120px;
}

select {
  margin-left: 3px;
  width: 130px;
}

label {
  width: 70px;
  display: inline-block;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s;
}

.fadeIn {
  opacity: 1.0;
  transition: opacity 0.3s;
}